<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raheel.player">

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <!-- Speicherzugriff für MP3-Dateien -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:label="Player"
        android:icon="@mipmap/ic_launcher"
        android:hasCode="false"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true">

        <!-- android.app.NativeActivity ist Teil des Android SDK selbst.
             Dadurch brauchen wir KEINEN eigenen Java/Kotlin Code. -->
        <activity
            android:name="android.app.NativeActivity"
            android:label="Player"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value="player" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
